<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a class="navbar-brand" href="/">Cinema</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link active" href="/">Main</a>
                    <a class="nav-item nav-link active" th:href="@{/films}">Films</a>
                    <a class="nav-item nav-link active" th:href="@{/timetable}">Timetable</a>
                </div>

            </div>
        </div>
    </nav>
</div>
